@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap');

body {
    height: 100vh;
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: #1e1e1e;
}

nav {
    margin-top:0;
    width: inherit;
    height: 50px;
    background-color: #000000;
    position: fixed;
}

#menu{
    display: block;
    margin-top: 0;
    width: inherit;
    height: inherit;
    list-style-type: none;
    text-align: center;
    position: relative;
}

li {
    font-family: 'Russo One';
    margin-top: 16px;
    margin-right: 10%;
    display: inline-block;
    font-size: 16px;
    color: #FFFFFF;
}

li:hover
{
    font-weight: bold;
    cursor: pointer;
    color: #b19cd9;
}

main{
    background-color: rgba(5,5,5,.3);
    top: 50px;
    bottom: 50px;
    width: 35vw;
    position: absolute;
}

p
{
    top: 0;
    text-align: left;
    color: #FFFFFF;
    font-family: 'Source Code Pro';
    left: 4px;
    position: relative;
}

img {
    top: 8px;
    border-radius: 50%;
    margin-left: auto;
    margin-right: auto;
    display: block;
    left: auto;
    right: auto;
    height: 100px;
    width: 100px;
    position: relative;
}

#current {
    padding-left: 50px;
    padding-right: 50px;
    height: auto;
    width: auto;
}

#name {
    top: 4px;
    bottom: 0;
    text-align: center;
    color: #FFFFFF;
    font-family: 'Press Start 2P';
    position: relative;
}

#feed {
    position: relative;
}

hr {
    color: #FFFFFF;
}

#feed-title {
    text-align: center;
    position: relative;
}

#products{
    left:35vw;
    top: 50px;
    bottom: 50px;
    right: 0;
    left: 35vw;
    position: absolute;
    padding: 45px;
}

#top-others {
    border: solid #000000;
    background-color: rgba(1,1,1,.6);
    height: 65px;
}

h2 {
    color: #FFFFFF;
    font-family: 'Press Start 2P';
}

h3 {
    top: 0;
    color: #FFFFFF;
    font-family: 'Press Start 2P';
}

#top-games{
    margin-top: 25px;
    border: solid #000000;
    background-color: rgba(1,1,1,.6);
}

footer {
    bottom:0;
    width: 100%;
    height: 50px;
    background-color: #000000;
    position: fixed;
}
